table{
    border-collapse: collapse;
    background-color: #FFBD9D;
}

th{
    color: #7373B9;
    background-color: #FFAD86;
}

table, td, th{
    border: 1px solid black;
    padding: 4px;
}

#login{
    width: 300px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-150px;
    margin-top:-190px;
    text-align: center;
}

#highlighting{
    color: 	#7700BB;
    font-weight: bolder;
}

#topic{
    color: 	#7373B9;
    font-weight: bold;
}

#main{
    background-color: lightblue;

    font-family: Microsoft JhengHei;

    padding-top: 3.5rem;
}

#page{

    z-index: 1;

    margin: 0px auto;
   
}

#page table{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

@media only screen and (max-width: 767px){
    #page{
        text-align: center;

        z-index: unset;

        margin: unset;

        margin-left: unset;
    }

    #page table{

        margin-left:unset; 

        margin-right:unset;

        text-align: center;

    }

}

div{
    margin-right: 0px;
    margin-left: 0px;
}

#twitter{
    z-index: 1;

    display: block;

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  

.video-container{

    display: block;

    z-index: 2;

    position: relative;

    height: auto;

    text-align: center;
}
 
.video-container iframe, .video-container object, .video-container embed {

    display: block;
    
    top: 0;left: 0;

    width: 100%;

    height: 60%;

}

#icon{
    height: 40px;
    width: 40px;
}

#home_icon{
    height: 70px;
    width: 70px;
}